################################################################################
# Ignore build files and output files
################################################################################

*.vs*
*.build
*.vsbuild
*out
*build